<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- bind: 연결하겠다 -->
        <p v-bind:id="uuid" v-bind:class="name">{{ num }}</p>
        <p>{{ doubleNum }}</p>
        <!-- v-if 로 제어하면 false일 땐 DOM에서 완전히 제거됨 -->
        <div v-if="loading">
            Loading...
        </div>
        <div v-else>
            test user has been logged in
        </div>
        <!-- v-show: css의 display: none을 만들어 주는 속성 -->
        <div v-show="loading">
            Loading...
        </div>
        <input type="text" v-model="message" placeholder="edit me">
        <p>{{ message }}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        new Vue({
            el: "#app",
            data: {
                num: 10,
                uuid: 'abc1234',
                name: 'text-blue',
                loading: true,
                message: '',
            },
            computed: {
                doubleNum: function () {
                    return this.num * 2;
                },
            }
        })
    </script>
</body>
</html>